<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/telaPequena.css') }}">
    {% extends 'base.html' %}
    {% block header %}
        <h1>{% block title %}Configurações{% endblock %}</h1>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="content_config_1">
            <div class="config_api">
                <section class="content_header_config">
                    <header>
                        <h1>Configuração API</h1>
                    </header>
                </section>
                <form method="post">
                    <label for="confAPI">API configurada: {{ bolas.bolasDoBingoJson.ConfAPI[0] }}</label>
                    <input name="confAPI" id="confAPI" type="text" value="{{ request.form['confAPI'] }}" required>
                    <input type="submit" value="Save">
                </form>
            </div>
            <div class= "vertical"></div>
            <div>
                <section class="content_header_config">
                    <header>
                        <h1>Solteiro/Noivos para geral</h1>
                    </header>
                </section>
                <form method="post">
                    <label for="menor_solteiro">Cartão fidelidade de noivos: [Congregação|N° cartão fidelidade]</label>
                    <input name="menor_solteiro" id="menor_solteiro" type="text" value="{{ request.form['menor_solteiro'] }}" required>
                    <input type="submit" value="Inserir">
                </form>
            </div>
        </div>
        <hr>
        <div class="content_config_2">
            <div class="mes_ensaio">
                <section class="content_header_config">
                    <header>
                        <h1>Mês do sorteio</h1>
                    </header>
                </section>
                <form method="post">
                    <label>Escolha o mês que queira realizar o sorteio: {{ bolas.bolasDoBingoJson.MesSorteio[0] }}</label>
                    <br>
                    <select name="carregar">
                        {% for mes in bolas.bolasDoBingoJson.ListaMesSorteio %}
                            <option>{{mes}}</option>
                        {% endfor %}
                    </select>
                    <input name="carregar" type="submit" value="Carregar">
                </form>
            </div>
            <div class= "vertical"></div>
            <div>
                <section class="content_header_config">
                    <header>
                        <h1>Dinâmica de Casais</h1>
                    </header>
                </section>
                <form method="post">
                    <label for="dinamica">Cartão fidelidade para a dinâmica do grupo: [Congregação|N° cartão fidelidade]</label>
                    <label >Quantidade de cartões cadastrados: {{ bolas.bolasDoBingoJson.ListaDinamica.__len__() }}</label>
                    <input name="dinamica" id="dinamica" type="text" value="{{ request.form['dinamica'] }}" required>
                    <input type="submit" value="Inserir">
                </form>
            </div>
        </div>
        <hr>
        <div class="content_config_3">
            <section class="content_header_config">
                <header>
                    <h1>Ensaio de Casais
                    </h1>
                </header>
            </section>
            <form method="post">
                    <p> Dia de ensaio?
                        {% if bolas['bolasDoBingoJson']['HabilitarEnsaio'][0] == 'true' %}
                            <input type="submit" name="habilitarEnsaio" value="Desabilitar Modo Ensaio">
                        {% else %}
                            <input type="submit" name="habilitarEnsaio" value="Habilitar Modo Ensaio">
                        {% endif %}
                    </p>
            </form>
            <form method="post">
                    {% if bolas['bolasDoBingoJson']['HabilitarEnsaio'][0] == 'true' %}
                        <label>Quantidade de cartões cadastrados: {{ bolas['bolasDoBingoJson']['ListaEnsaio'].__len__() }}</label>
                        <p>
                            <br><br>
                            Desabilitar Congregação:
                            <br><br>
                            {% if bolas['bolasDoBingoJson']['HabilitarListaAlameda'][0] == 'true' %}
                                <input type="checkbox" name="des_alameda" value="alameda"> Alamedas
                            {% else %}
                                <input type="checkbox" name="des_alameda" value="alameda" checked> Alamedas
                            {% endif %}

                            {% if bolas['bolasDoBingoJson']['HabilitarListaJardimCopa1'][0] == 'true' %}
                                <input type="checkbox" name="des_jdcopacabana1" value="jdcopacabana1"> Jardim Copacabana
                            {% else %}
                                <input type="checkbox" name="des_jdcopacabana1" value="jdcopacabana1" checked> Jardim Copacabana
                            {% endif %}

                            {% if bolas['bolasDoBingoJson']['HabilitarListaJardimCopa2'][0] == 'true' %}
                                <input type="checkbox" name="des_jdcopacabana2" value="jdcopacabana2"> Jardim Copacabana 2
                            {% else %}
                                <input type="checkbox" name="des_jdcopacabana2" value="jdcopacabana2" checked> Jardim Copacabana 2
                            {% endif %}

                            {% if bolas['bolasDoBingoJson']['HabilitarListaNovaDivineia1'][0] == 'true' %}
                                <input type="checkbox" name="des_novadivineia1" value="novadivineia"> Nova Divinéia
                            {% else %}
                                <input type="checkbox" name="des_novadivineia1" value="novadivineia" checked> Nova Divinéia
                            {% endif %}

                            {% if bolas['bolasDoBingoJson']['HabilitarListaNovaDivineia2'][0] == 'true' %}
                                <input type="checkbox" name="des_novadivineia2" value="novadivineia2"> Nova Divinéia 2
                            {% else %}
                                <input type="checkbox" name="des_novadivineia2" value="novadivineia2" checked> Nova Divinéia 2
                            {% endif %}

                            {% if bolas['bolasDoBingoJson']['HabilitarListaPiedade'][0] == 'true' %}
                                <input type="checkbox" name="des_piedade" value="piedade"> Piedade
                            {% else %}
                                <input type="checkbox" name="des_piedade" value="piedade" checked> Piedade
                            {% endif %}

                            {% if bolas['bolasDoBingoJson']['HabilitarListaVeneza4'][0] == 'true' %}
                                <input type="checkbox" name="des_veneza4" value="veneza4"> Veneza 4
                            {% else %}
                                <input type="checkbox" name="des_veneza4" value="veneza4" checked> Veneza 4
                            {% endif %}
                        </p>
                        <input type="submit" name="desabilitar_congregacao" value="Desabilitar">
                    {% endif %}
            </form>
        </div>
        <hr>
        <div>
            <form method="post">
                <input name="cancel" type="submit" value="Voltar">
            </form>
        </div>
        <hr>
        <div class="content_config_1">
            <section class="content_header_config">
                <header>
                    <h1>Report</h1>
                </header>
            </section>
            <form method="post">
                <label for="report">Local para salvar o Report:</label>
                <input name="report" id="report" type="text" value="{{ request.form['report'] }}" required>
                <input type="submit" value="Save">
            </form>
        </div>
    {% endblock %}
</body>
</html>