<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/telaPequena.css') }}">
    {% extends 'base.html' %}
    {% block header %}
        <h1>{% block title %}Configurações{% endblock %}</h1>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="content_config_1">
            <section class="content_header_config">
                <header>
                    <h1>Configuração API</h1>
                </header>
            </section>
            <form method="post">
                <label for="confAPI">API configurada: {{ bolas['bolasDoBingoJson']['ConfAPI'][0] }}</label>
                <input name="confAPI" id="confAPI" type="text" value="{{ request.form['confAPI'] }}" required>
                <input type="submit" value="Save">
            </form>
        </div>
        <hr>
        <div class="content_config_2">
            <div class="mes_ensaio">
                <section class="content_header_config">
                    <header>
                        <h1>Mês do sorteio</h1>
                    </header>
                </section>
                <form method="post">
                    <label>Escolha o mês que queira realizar o sorteio: {{ bolas['bolasDoBingoJson']['MesSorteio'][0] }}</label>
                    <br>
                    <select name="carregar">
                        {% for mes in bolas['bolasDoBingoJson']['ListaMesSorteio'] %}
                            <option>{{mes}}</option>
                        {% endfor %}
                    </select>
                    <input name="carregar" type="submit" value="Carregar">
                </form>
            </div>
            <div class= "vertical"></div>
            <div>
                <section class="content_header_config">
                    <header>
                        <h1>Dinâmica de Casais</h1>
                    </header>
                </section>
                <form method="post">
                    <label for="dinamica">Cartão fidelidade para a dinâmica do grupo: [Congregação|N° cartão fidelidade]</label>
                    <label >Quantidade de cartões cadastrados: {{ bolas['bolasDoBingoJson']['ListaDinamica'].__len__() }}</label>
                    <input name="dinamica" id="dinamica" type="text" value="{{ request.form['dinamica'] }}" required>
                    <input type="submit" value="Inserir">
                </form>
            </div>
        </div>
        <hr>
        <div class="content_config_3">
            <section class="content_header_config">
                <header>
                    <h1>Ensaio de Casais
                    </h1>
                </header>
            </section>
            <form method="post">
                    <p> Dia de ensaio?
                        {% if bolas['bolasDoBingoJson']['HabilitarEnsaio'][0] == 'true' %}
                            <input type="submit" name="habilitarEnsaio" value="Desabilitar">
                        {% else %}
                            <input type="submit" name="habilitarEnsaio" value="Habilitar">
                        {% endif %}
                    </p>
            </form>
            <form method="post">
                    {% if bolas['bolasDoBingoJson']['HabilitarEnsaio'][0] == 'true' %}
                        <label>Quantidade de cartões cadastrados: {{ bolas['bolasDoBingoJson']['ListaEnsaio'].__len__() }}</label>
                    {% endif %}
            </form>
        </div>
        <hr>
        <div>
            <form method="post">
                <input name="cancel" type="submit" value="Voltar">
            </form>
        </div>
    {% endblock %}
</body>
</html>