<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Culto de Casais
    </title>
    <link rel="stylesheet" href="/cultoparacasais/src/css/reset.css">
    <link rel="stylesheet" href="/cultoparacasais/src/css/base.css">
    <link rel="stylesheet" href="/cultoparacasais/src/css/principal.css">
    <link rel="stylesheet" href="/cultoparacasais/src/js/home.js" />
    <!-- <link rel="stylesheet" href="./static/css/reset.css" />
    <link rel="stylesheet" href="./static/css/base.css" />
    <link rel="stylesheet" href="./static/css/telaPequena.css" />
    <script type="text/javascript" src="./static/js/index.js"></script> -->
</head>
<body class="corpo">
    <header class="cabecalho">
        <a>
            <p class="logo">Culto de Casais</p>
        </a>

        <nav>
            <ul class="menu">
                    <li><span>{{ Reporter.Username }}</span></li>
                    <li><form method="post">
                        <input name="logout" type="submit" value="Log Out"/>
                    </form>
                    </li>
            </ul>
        </nav>
    </header>

    <section>
        <section class="content_header">
            <header>
                <h1>HORA DO SORTEIO!!!</h1>
                <spam>
                    <form method="post">
                        <input name="reset" type="submit" value="Reset">
                        <input name="config" type="submit" value="Configurações">
                    </form>
                </spam>
            </header>
        </section>
        <section class="content_body">
                    <div class="tela_principal">
                        <p class="sorteado">
                        </p>
                        <p class="conjuge">
                        </p>
                    </div>
                    <div class="tela_botoes">
                            <form method="post">
                                <input name="geral" type="submit" value="Adultos/Casados"/>
                                <input name="menores" type="submit" value="Menores de 18"/>
                                <input name="visitantes" type="submit" value="Visitantes"/>
                            </form>
                            <!-- <h1>Está presente?</h1> -->
                    </div>
                    <div class="tela_botoes">
                            <form method="post">
                                    <!-- <input name="ensaio" type="submit" value="Ensaio"/> -->
                                    <input name="dinamica" type="submit" value="Dinâmica"/>
                                <input name="aniversario" type="submit" value="Aniversário de Casamento"/>
                            </form>
                            <!-- <form method="post">
                                <input name="sim" type="submit" value="Sim"/>
                                <input name="nao" type="submit" value="Não"/>
                            </form> -->
                    </div>
        </section>
    </section>
</body>
</html>