<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Tela de Registro
    </title>
    <link rel="stylesheet" href="/cultoparacasais/src/css/reset.css">
    <link rel="stylesheet" href="/cultoparacasais/src/css/base.css">
    <link rel="stylesheet" href="/cultoparacasais/src/css/telaPequena.css"> 
    <!-- <script type="text/javascript" src="/cultoparacasais/src/js/register.js"></script> -->
    <!-- <link rel="stylesheet" href="./static/css/reset.css" />
    <link rel="stylesheet" href="./static/css/base.css" />
    <link rel="stylesheet" href="./static/css/telaPequena.css" />
    <script type="text/javascript" src="./static/js/register.js"></script> -->
</head>
<body class="corpo_base">
    <header class="cabecalho">
        <a>
            <p class="logo">Culto de Casais</p>
        </a>

        <nav>
            <ul class="menu">
                <!-- inserir campos de login e logout -->
                <!-- se logado -->
                    <!-- nome do usuário ==> <li><span>usuário</span></li> -->
                    <!-- botão para deslogar ==> <li><a href="">Log Out</a></li> -->
                <!-- senão -->
                    <!-- <li><a href="#" onchange="onChangeUsername()" id="login_button" onclick="login()">Login</a></li> -->
                    <!-- botão para logar<li><a href="">Log In</a></li> -->
            </ul>
        </nav>
    </header>

    <section class="corpo_content">
        <section class="content_header">
            <header>
                <h1>Registrar</h1>
            </header>
        </section>
        <section class="content">
            <form method="post">
                <div class="centralizar">
                    <div class="user">
                        <label for="username">Username: </label>
                        <input name="username" id="username" onchange="onChangeUsername()" value={{Reporter.Username}} />
                    </div>
                    <div class="error" id="username-required-error">Username obrigatório</div>
                    <div class="pass">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" onchange="onChangePassword()" placeholder="Password" />
                    </div>
                    <div class="error" id="password-required-error">Password obrigatória</div>
                    {% if Reporter != None %}
                        {% if Reporter.Registed != None %}
                            <div class="error" id="registed">{{ Reporter.Registed }}</div>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="centralizar">
                    <input type="submit" name="register" value="Registrar" id="register_button" disabled="true"/>
                    <input type="submit" name="back" value="Voltar" id="voltar_button" />
                </div>
            </form>
        </section>
    </section>
    <script type="text/javascript" src="/cultoparacasais/src/js/register.js"></script>
</body>
</html>