.cabecalho {
    /*background-color: lightgray;*/
    background-color: rgb(140, 180, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 50px;
}

.cabecalho .logo {
    /* width: 65px; */
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 5px 3px black, 5px 4px black,
      5px 2px black, 5px 2px black, black 0.1em 0.1em 0.2em;
}

.cabecalho nav{
    background-color: rgb(140, 180, 255);
}

.cabecalho nav .menu{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
}

.cabecalho nav li input {
    background-color: rgb(0, 47, 255);
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    margin: 0px 2.5px;
    padding: 1px 10px;
    border-radius: 8px;
    border-width: 0px;
    /* border-style: solid; */
    /* border-color: black; */
    transition: 0.2s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.cabecalho nav li span {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    margin: 0px 2.5px;
    padding: 1px 10px;
    text-shadow: 5px 3px black, 5px 4px black,
      5px 2px black, 5px 2px black, black 0.1em 0.1em 0.2em;
}

.cabecalho nav li input:hover {
    background-color: #d5011d;
}

.error{
    color: white;
    background-color: red;
    display: none;
    margin-bottom: 10px;
}

.content, .content_header {
    padding: 0 1rem 1rem;
}

.content_header > header{
    border-bottom: 1px solid lightgray;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.corpo_base{
    max-width: 75%;
    border-radius: 50px;
    margin: auto;
    background: white;
}

.corpo{
    max-width: 100%;
    max-height: 80%;
    border-radius: 50px;
    margin: auto;
    background: white;
}

.corpo_content {
    margin: 0 auto;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.content:last-child {
    margin-bottom: 0;

}